
.B_type_advertise,
.C_type_advertise{
    position: absolute;
    right: -22%;
    top: 0;
    width: 25%;
    height: 100%;
    padding-bottom: 47px;
    background-color: #383838;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.B_type_advertise.sidebarOpen,
.C_type_advertise.sidebarOpen{
    right: 0;
    z-index: 4;
    overflow: auto;
}
.B_type_advertise > span,
.C_type_advertise > span{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 12%;
}
.B_type_advertise > span > .B_type_side_mini,
.C_type_advertise > span > .C_type_side_mini{
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    top: calc(50% - 35px);
}
.B_type_advertise > div:nth-child(2){
    width: 76.1%;
    margin: 0 auto;
    /* padding-top: 15%; */
}
.C_type_advertise > div:nth-child(2){
    width: 82%;
    margin: 0 auto;
    padding-top: 20px;
}
.B_type_advertise > div > img{
    width: 100%;
    height: 100%;
    margin: 0 0 5%;
    /* opacity: 0.59; */
}
.C_type_advertise > div > img{
    width: 100%;
    height: 110px;
    margin: 0 0 10%;
    /* opacity: 0.59; */
}
.B_type_advertise > div > .B_type_hash_tag > button{
    width: 46px;
    height: 20px;
    margin: 0 7px 5% 0;
    padding: 3px 0 3px;
    border: solid 2px #cbcbcb;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 8px;
    border-radius: 12px;
    text-align: center;
    color: #bababa;
    cursor: unset;
}
.B_type_advertise > div > .B_type_info > li{
    margin: 3px 0;
}
.B_type_advertise > div > .B_type_info > li:nth-child(1){
    font-size: 12px;
    text-align: left;
    color: #fff;
}
.B_type_advertise > div > .B_type_info > li:nth-child(2){
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #fff;
}
.B_type_advertise > div > .B_type_info > li:nth-child(3){
    font-size: 11px;
    font-weight: bold;
    line-height: 1.45;
    text-align: left;
    color: #ff3a3a;
}
.B_type_advertise > div > .B_type_btn > li:nth-child(1) > button{
    width: 100%;
    height: 21px;
    line-height: 21px;
    padding: 1px 0 6px;
    text-align: center;
    border: none;
    border-radius: 13px;
    background-color: #8460f4;
    font-size: 10px;
    color: #fff;
}
.B_type_advertise > div > .B_type_btn > li:nth-child(1) > button > a{
    display: inline-block;
    width: 100%;
}
.B_type_advertise > div > .B_type_btn > li:nth-child(2) > button:nth-child(1){
    width: 84.6%;
    height: 18px;
    margin: 5px 3px 0 0;
    border-radius: 13px;
    border: solid 0.5px #bababa;
    display: inline-block;
    font-size: 10px;
    color: #bababa;
    background: none;
}
/* 커머스 */
/* .C_type_advertise > div > span {
    font-size: 13px;
    line-height: 1.83;
    text-align: left;
    color: yellow;
} */
/* tag */
.C_type_advertise > div > .C_type_hash_tag > button{
    padding: 0 10px 0 10px;
    margin: 5px 5px 0 0;
    font-size: 8px;
    text-align: center;
    border-radius: 13px;
    border: solid 0.5px #bababa;
    color: #bababa;
    background: rgba(255, 255, 255, 0.2);
}
/* title */
.C_type_advertise > div > .C_type_info > li:nth-child(1){
    margin: 10px 0 10px 0;
    font-size: 12px;
    line-height: 1.83;
    text-align: left;
    color: #ffffff;
}
/* price */
.C_type_advertise > div > .C_type_info > li:nth-child(2){
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
/* description */
.C_type_advertise > div > .C_type_info > li:nth-child(3){
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.83;
    font-weight: bold;
    text-align: left;
    color: #ff3a3a;
}
/* 바로 구매하기 */
.C_type_advertise > div > .C_type_btn > li:nth-child(1) > button:nth-child(1){
    width: 100%;
    height: 28px;
    border-radius: 13px;
    display: inline-block;
    font-size: 10px;
    color: #ffffff;
    background: #8460f4;
}
/* 자세히 보기 */
.C_type_advertise > div > .C_type_btn > li:nth-child(2) > button:nth-child(1){
    width: 77%;
    height: 28px;
    margin: 5px 5px 0 0;
    border-radius: 13px;
    border: solid 0.5px #bababa;
    display: inline-block;
    font-size: 10px;
    color: #bababa;
}
/* 좋아요 */
.C_type_advertise > div > .C_type_btn > li:nth-child(2) > button:nth-child(2){
    width: 28px;
    height: 28px;
    margin: 5px 0 0 0;
    border-radius: 100%;
    border: solid 0.5px #bababa;
    display: inline-block;
    font-size: 100%;
    color: #bababa;
    background: rgba(255, 255, 255, 0.15);
}
.B_type_advertise > div > .B_type_btn > li:nth-child(2) > button:nth-child(2){
    width: 18px;
    height: 18px;
    padding: 0 3px 4px 2px;
    border: solid 0.5px #bababa;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: inline-block;
    font-size: 8px;
    color: #cccccc;
}
.B_type_advertise > div > .B_type_add{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 47px;
    line-height: 40px;
    text-align: center;
    border-bottom-left-radius: 12px;
    /* background-color: rgba(255, 58, 58, 0.8); */
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}
.B_type_advertise > div > .B_type_add > img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 12px;
}

.C_type_advertise .B_type_add{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 47px;
    line-height: 40px;
    text-align: center;
    border-bottom-left-radius: 12px;
    /* background-color: rgba(255, 58, 58, 0.8); */
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}
.C_type_advertise .B_type_add > a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.C_type_advertise .B_type_add > a > img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 12px;
}

.D_type_advertise{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #383838;
    padding-top: 2%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 1;
}
.D_type_advertise a > div{
    font-size: 16px;
    margin-top: 4px;
    text-align: left;
    color: #fff;
}
.cupertino-pane{
    overflow: auto !important;
    width: 100% !important;
    /* margin-top: 1.5%; */
    position: absolute;
    /* bottom: 0; */
    height: unset !important;
    /* z-index: 30; */
    /* background: url('../images/Boshow_player/Boshow_advertise_bar.png') 50% 100% / cover no-repeat !important; */
}
.cupertino-pane.hide{
    z-index: 30;
    display: block !important;
}
.cupertino-pane > ul{
    width: max-content;
    margin: 0 2.3%
}
.cupertino-pane > ul > li{
    display: inline-block;
    margin-right: 20px;
    height: unset;
    float: left;
}
.cupertino-pane > ul > li > a > img{
    width: 100%;
}
.cupertino-pane > ul > li > a > div{
    font-size: 11px;
    font-weight: 100;
    color: #fff;
    margin: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.cupertino-pane > ul > li > a > div:nth-child(3){
    color: #b181f4;
    font-weight: 600;
}
.cupertino-pane-wrapper{
    top: unset !important;
    bottom: 0;
    right: 0;
    position: absolute !important;
}
.cupertino-pane-wrapper .pane{
    background: url('../images/Boshow_player/Boshow_advertise_bar.png') 50% 100% / cover no-repeat !important;
    top: 0 !important;
    max-width: unset !important;
    position: absolute !important;
    /* opacity: 0;
    z-index: -1; */
}

#root > div > section > form > div > table:nth-child(2) > tr:nth-child(2) > td:nth-child(5) > div > div > img {width:"500px"}