.lighter_purple{
    background-color: #8460f4;
}
.light_purple{
    background-color: #b181f4;
}
.black_17{
    background-color: #171717;
}
.black_1c{
    background-color: #1c1c1c;
}
.greyish_brown{
    background-color: #414141;
}
.brown_grey{
    background-color: #848484;
}
.very_light_pink{
    background-color: #bababa;
}
.white_25{
    background-color: rgba(255, 255, 255, 0.25);
}
.white{
    background-color: #ffffff;
}
.black_65{
    background-color: rgba(0, 0, 0, 0.65);
}