.twoInput:before {
    content: "분";
    color: black;
    position: relative;
    right:117px;
    bottom:2px;
}

.oneInput:before {
    content: "초";
    color: black;
    position: relative;
    right:30px;
    bottom:2px;
}
.oneInput::-webkit-outer-spin-button,
.oneInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.twoInput::-webkit-outer-spin-button,
.twoInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.TableTHs > th{
color:#cbcbcb;
font-size: 17px;
font-weight: 500;
padding: 3px 0 10px 5px;
width: 250px;
text-align: left;
border-bottom: 1px solid #707070;
}